
// Campos de texto
//................
.input-text{
	width: 100px;
	height: 30px;
	border: 1px solid gainsboro;
	border-radius: 3px;
	padding-left: 5px;
}



// Botón submit
//..............
.button-1{
	display: inline-block;
	font-family: sans-serif;
	font-size: 12px;
	color: #fff;
	background-color: #304ffe;
	padding: 8px 10px 8px 10px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	transition: all, .1s;
	&:hover{
		transform: scale(1.05, 1.05);
		box-shadow: 0 3px 5px -2px #666;
	}
	&:active{
		background-color: lighten(#304ffe, 10%);
	}
}