
@mixin red       { border: 1px solid red;}
@mixin blue      { border: 1px solid blue;}
@mixin gray      { border: 1px solid gray;}
@mixin green     { border: 1px solid green;}
@mixin orange    { border: 1px solid orange;}
@mixin gainsboro { border: 1px solid gainsboro;}

@mixin flex{
display: flex;
justify-content: center;
align-items: center;}

@import "reset";
@import "inputs";
@import "capas-datos";


.container-principal{
	width: 95%;
	max-width: 250px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
